# ─── Docker ─────────────────────────────────────────────
# docker-compose.yaml
# docker-compose.development.yaml
# docker-compose.home.yaml
COMPOSE_FILE=docker-compose.yaml:docker-compose.development.yaml

# ── PostgreSQL ────────────────────────────────────────────
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=workspace
POSTGRES_INIT_SQL_PATH=./init.sql
POSTGRES_APP_PATH=./postgres
POSTGRES_DATA_PATH=../data/db

# ── Nginx Proxy Manager ─────────────────────────────────
NPM_DB=npm
NPM_INITIAL_ADMIN_EMAIL=
NPM_INITIAL_ADMIN_PASSWORD=
NPM_DATA_PATH=./npm

# ── Nextcloud ─────────────────────────────────────────────
NEXTCLOUD_DB=nextcloud
NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.home.arpa
NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=
NEXTCLOUD_APP_PATH=./nextcloud
NEXTCLOUD_DATA_PATH=../data/storage

# ── Vaultwarden ──────────────────────────────────────────
VAULTWARDEN_DB=vaultwarden
VAULTWARDEN_DOMAIN=http://localhost:8089
# printf 'password1234' | argon2 yoursalt16chars! -id -e
VAULTWARDEN_ADMIN_TOKEN=
VAULTWARDEN_APP_PATH=./vaultwarden
VAULTWARDEN_DATA_PATH=../data/db/vaultwarden

# ── Kavita ────────────────────────────────────────────────
KAVITA_APP_PATH=./kavita
KAVITA_DATA_PATH=../data/library

# ── Wealthfolio ──────────────────────────────────────────
# openssl rand -base64 32
WF_SECRET_KEY=
# printf 'password1234' | argon2 yoursalt16chars! -id -e
WF_AUTH_PASSWORD_HASH=
WF_CORS_ALLOW_ORIGINS=http://wealthfolio.home.arpa
WEALTHFOLIO_DATA_PATH=../data/db/wealthfolio
